<!DOCTYPE html>
<html>
<head>
    <title>Link to the Flask</title>
    <style>
        body {
            margin: 0;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    </style>
</head>
<body>
    <canvas id="game"></canvas>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
